STORE_CORS=http://localhost:8000,https://docs.medusajs.com,*
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com,*
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com,*
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-ai
POSTGRES_URL=

# SendGrid Notification Provider
SENDGRID_API_KEY=your-sendgrid-api-key
SENDGRID_FROM=noreply@yourdomain.com

# Stripe Payment Provider
STRIPE_API_KEY=your-stripe-secret-key
STRIPE_WEBHOOK_SECRET=your-stripe-webhook-secret

# Meilisearch
MEILISEARCH_HOST=http://127.0.0.1:7700
MEILISEARCH_API_KEY=masterKey
MEILISEARCH_PRODUCT_INDEX_NAME=products