[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

[dir="rtl"] .slide-in-from-right {
  --tw-enter-translate-x: -100%;
}

[dir="rtl"] .slide-in-from-left {
  --tw-enter-translate-x: 100%;
}

[dir="rtl"] .slide-out-to-right {
  --tw-exit-translate-x: -100%;
}

[dir="rtl"] .slide-out-to-left {
  --tw-exit-translate-x: 100%;
}

[dir="rtl"] .animate-in.slide-in-from-right {
  --tw-enter-translate-x: -100%;
}

[dir="rtl"] .animate-in.slide-in-from-left {
  --tw-enter-translate-x: 100%;
}

[dir="rtl"] .bg-gradient-to-r {
  --tw-gradient-direction: to left;
}

[dir="rtl"] .bg-gradient-to-l {
  --tw-gradient-direction: to right;
}
